{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Bus Stops</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.css" />
    <style>
        #map {
            height: 400px;
        }

        h2 {
            color: #5c5959;
            text-transform: uppercase;
            font-family: monospace;
        }
    </style>
</head>

<body>
    <h2>Bus Stops</h2>
    <div id="map"></div>


    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
    <!-- JQuery -->
    <script src="{% static 'common/js/jquery-3.6.4.min.js' %}"></script>

    <script>
        let plotData_ = JSON.parse("{{stops|escapejs}}");
        // Create a Leaflet map instance
        var map = L.map('map').setView([8.57055, 76.88478], 9);

        // Add OpenStreetMap tile layer to the map
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
            maxZoom: 18,
        }).addTo(map);


        for (let i = 0; i < plotData_.length; i++) {
            var marker = L.marker([plotData_[i]['latitude'], plotData_[i]['longitude']]).addTo(map);
            marker.bindPopup(plotData_[i]['stop_name']);
        }


        function onMapClick(e) {
            if (marker) {
                //map.removeLayer(marker);
            }
            marker = L.marker(e.latlng,).addTo(map);
            var latitude = e.latlng.lat;
            var longitude = e.latlng.lng;
            var status = confirm("Add this location?");
            console.log(status);
            if (status == false) {
                map.removeLayer(marker);
            } else {
                name_ = prompt("Bus stop identification name?");
                $.addBusStops(latitude, longitude, name_);
            }
        }
        map.on('click', onMapClick);


        $.addBusStops = function (lat, lon, name) {
            $.ajax({
                type: "POST",
                url: "bus_stops",
                data: {
                    lat: lat,
                    lon: lon,
                    stop_name: name,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (data) {
                    status = data["status"];
                    console.log(status);
                },
            });
        };

    </script>
</body>

</html>